/* Colors */
/* Mixins */
.unlink {
  color: inherit;
  text-decoration: none;
}
/* Pure CSS overrides */
.button-small {
  font-size: 0.75em;
}
/* Main */
* {
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: 'Ubuntu', sans-serif;
}
body.theme-dark-blue {
  background-color: #ffffff;
  color: #031b40;
}
body.theme-dark-green {
  background-color: #ffffff;
  color: #003613;
}
body.theme-gold {
  background-color: #ffffff;
  color: #000000;
}
.theme-dark-blue .sidebar {
  background-color: #031b40;
  color: #ffffff;
}
.theme-dark-green .sidebar {
  background-color: #003613;
  color: #ffffff;
}
.theme-gold .sidebar {
  background-color: #e5bf16;
  color: #000000;
}
.sidebar .header {
  text-align: right;
}
.sidebar .header .site-logo {
  font-size: 2em;
}
.sidebar .header .site-title a {
  font-family: 'Cinzel', 'Ubuntu', sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: inherit;
}
.sidebar .header .site-subtitle {
  color: #336946;
}
.main-content p {
  text-align: justify;
}
.main-content .post h1 {
  font-size: 3em;
  margin: 0px;
}
.main-content .post h1 a {
  color: inherit;
  text-decoration: none;
}
.main-content .post .post-date {
  font-style: italic;
}
.main-content .post .tags {
  display: inline;
  list-style-type: none;
}
.main-content .post .tags li {
  display: inline;
}
.main-content.homepage .post,
.main-content.taxonomy .post {
  padding: 2em 0em 0px;
}
.main-content.homepage .post .title,
.main-content.taxonomy .post .title {
  color: inherit;
  text-decoration: none;
  font-size: 1.5em;
}
.main-content.homepage .post .title .select-indicator,
.main-content.taxonomy .post .title .select-indicator {
  visibility: hidden;
}
.main-content.homepage .post .title a,
.main-content.taxonomy .post .title a {
  color: inherit;
  text-decoration: none;
}
.main-content.homepage .post .title:hover .select-indicator,
.main-content.taxonomy .post .title:hover .select-indicator {
  visibility: visible;
}
.main-content.homepage .post .post-date,
.main-content.taxonomy .post .post-date {
  font-size: 0.6em;
}
.main-content.homepage .post .tag,
.main-content.taxonomy .post .tag {
  font-size: 0.6em;
}
.main-content.homepage .post .description,
.main-content.taxonomy .post .description {
  font-size: 0.6em;
  padding: 1em 0em 0px;
}
.main-content.single .post .post-date {
  font-size: 0.75em;
}
.main-content.single .post .tags {
  font-size: 0.75em;
}
.main-content.single .post .content {
  margin-top: 2em;
}
/* Media queries */
@media (min-width: 48em) {
  .main-content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
  .sidebar .header {
    margin: 10% 2em 0;
  }
}
